pretrained_model/model_ginconcat_btwin_100k_d8000_l0.0001/model.pth
**/__pycache__/**
**/.DStore/**
**/.Rhistory
.DS_Store
mole_cover_letter.docx

examples/input/hcs_molecules.tsv
examples/output/hcs_molecules_mole.tsv.gz

workflow/logdir/**
