pretrained_model/model_ginconcat_btwin_100k_d8000_l0.0001/model.pth
**/__pycache__/**
**/.DStore/**
**/.Rhistory
.DS_Store
mole_cover_letter.docx

examples/input/hcs_molecules.tsv
examples/output/hcs_molecules_mole.tsv.gz

workflow/logdir/**


data/03.model_evaluation/**

!data/03.model_evaluation/complete_test_predictions.tsv.gz
!data/03.model_evaluation/chemDesc-XGBoost-08.03.2024_14.20.pkl
!data/03.model_evaluation/ecfp4-XGBoost-08.03.2024_14.20.pkl
!data/03.model_evaluation/MolE-XGBoost-08.03.2024_14.20.pkl
!data/03.model_evaluation/optimal_thresholds.tsv.gz


data/05.analyze_mce_predictions/**
!data/05.analyze_mce_predictions/ecfp4_mce_overview.pdf
!data/05.analyze_mce_predictions/mole_mce_overview.pdf
!data/05.analyze_mce_predictions/mce_pred_comparison.pdf

data/06.experimental_validation/taxtree_circle.png
data/06.experimental_validation/taxtree_vertical.pdf
data/06.experimental_validation/taxtree.pdf
data/06.experimental_validation/ebastine_od.tsv
data/06.experimental_validation/MIC_10h.tsv
data/06.experimental_validation/opicapone_od.tsv

data/07.pubchem_exploration/*.xlsx
data/07.pubchem_exploration/*.tsv

data/08.compare_mce_maier/ecfp4_joint_umap.tsv.gz
data/08.compare_mce_maier/ecfp4_joint_umap.pdf
data/08.compare_mce_maier/joint_umap_panel.pdf
data/08.compare_mce_maier/mole_joint_umap.png
data/08.compare_mce_maier/similarity_to_maier.pdf
data/08.compare_mce_maier/ecfp4_distance_to_maier.tsv.gz

data/Supplementary\ Source\ Data/**
data/Source\ Data/**

data/test_output/**
raw_data/maier_microbiome/commontree_wPath.txt
raw_data/maier_microbiome/commontree.txt
raw_data/maier_microbiome/phyliptree.phy
